<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Fitness</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.jpg" />
		
	<!-- CSS Files -->
		
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/animate.min.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/adminhomestyle.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/responsive.css" />
	<link rel="stylesheet" href="css/player/YTPlayer.css" />
	<link href="css/pro-bars.css" rel="stylesheet" />
	

	<!-- End CSS Files -->
 
 
</head>

<body>

	<!-- Navigation -->
	<section id="navigation" class="dark-nav">
		<!-- Navigation Inner -->
		<div class="nav-inner">
			<!-- Site Logo -->
			<div class="site-logo fancy">
				<a href="#" id="logo-text" class="scroll logo">Calypso
				</a>
			</div><!-- End Site Logo -->
			<a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
			<!-- Navigation Menu -->
		    <div class="nav-menu">
				<ul class="nav uppercase">
					<li><a href="#metaData" class="scroll">Meta Data</a></li>       
					<li><a href="#newAdmission" class="scroll">New Admission</a></li>
					<li><a href="#attendance" class="scroll">Attendance</a></li>     
					<li><a href="#markSheet" class="scroll">Marks</a></li>
					<li><a href="#testimonial" class="scroll">Testimonial</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
					<li><a href="#clients" class="scroll">Gymnasts</a></li>
					<li><a href="#testimonial" class="scroll">Testimonial</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
				</ul>
		  </div><!-- End Navigation Menu -->
		</div><!-- End Navigation Inner -->
	</section><!-- End Navigation Section -->


	<!-- MetaData Section -->
	<section id="metaData" class="container waypoint" style="padding-top:6%; height:100vh" ng-controller="adminMetaData"> 	
		 
		
		
		
		
		
		<div style="    width: 100%;
    height: auto;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    text-align: center;">
	<h4 class="header light  fancy"><span class="colored">Available Classes, Sections and Subjects</span></h4>
                <!-- <p class="h-desc white">lorem Ipsum is lorem Ipsum of passages of Lorem Ipsum available, but the majority have suffered alteration.<br />
                Email us or give us a call at <span class="bold colored">+1 (800) 245-123.</span></p> -->
	
					<div class="form-group" style="font-weight:500; color:white; text-align:left">
			        Student Evaluation Type?
			        &nbsp;&nbsp;&nbsp;
			        
			            Marks :
			            <input  style="opacity:0.6;" ng-model="marksBased" type="checkbox" ng-click="marksClicked(marksBased)">
			            &nbsp;&nbsp;&nbsp;
			            Grade : 
			            <input  style="opacity:0.6;" ng-model="gradeBased" type="checkbox" ng-click="gradeClicked(gradeBased)">
			        </div>
			        
			        <div ng-show="gradeBased" class="form-group" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Grades :
			            <br/><!--  <select ng-model="temp" ng-options="metaDataClasses for metaDataClasses in metaDataClasses" style="color:black; opacity:0.6;width:50%;"></select>-->
			            <div class="btn-group" >
						  <button type="button" ng-click="populateMetaData()" class="btn btn-default dropdown-toggle" style="height: 32px;line-height: 0px;background-color: bisque;opacity: 0.6;color: black;padding: 0px 202px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Available Grades <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" style="width: 534px;text-align: center; max-height: 70vh; overflow: scroll">
						    <li ng-repeat="metaDataGrades in metaDataGrades"><a>{{metaDataGrades}}</a></li>
						  </ul>
						</div>
			        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="newGrade" style="opacity:0.6; width:30%; height: 32px;" placeholder="Add Grade (A, A+, B, D etc)"/>
			        	&nbsp;&nbsp;&nbsp; <button class="btn" ng-click="addNewGradeToMetaData(newGrade)" style="height:32px; line-height: 0px; padding: 0 34px;">Add Grade</button>
						<!-- Single button -->
						
			        </div>
			       
			       	<div ng-show="gradeBased" class="form-group scroll" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Select Passing Grades :
			            <div		ng-click="populateMetaData(); savePassingGrades(passingGrades);"
								    isteven-multi-select
								    input-model="grades"
								    output-model="passingGrades"
								    button-label="name"
								    item-label="name"
								    tick-property="ticked"
								    orientation="horizontal"
								>
								</div>
						
			        </div> 
	
	
	
	
	
			        <div class="form-group" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Classes :
			            <br/><!--  <select ng-model="temp" ng-options="metaDataClasses for metaDataClasses in metaDataClasses" style="color:black; opacity:0.6;width:50%;"></select>-->
			            <div class="btn-group" >
						  <button type="button" ng-click="populateMetaData()" class="btn btn-default dropdown-toggle" style="height: 32px;line-height: 0px;background-color: bisque;opacity: 0.6;color: black;padding: 0px 200px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Available Classes <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" style="width: 534px;text-align: center; max-height: 55vh; overflow: scroll">
						    <li ng-repeat="metaDataClasses in metaDataClasses"><a>{{metaDataClasses}}</a></li>
						  </ul>
						</div>
			        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="newClass" style="opacity:0.6; width:30%; height: 32px;" placeholder="Add Class (1st, 2nd etc)"/>
			        	&nbsp;&nbsp;&nbsp; <button class="btn" ng-click="addNewClassToMetaData(newClass)" style="height:32px; line-height: 0px; padding: 0 37px;">Add Class</button>
						<!-- Single button -->
						
			        </div>
			        
			        <div class="form-group" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Sections :
			            <br/><!--  <select ng-model="temp" ng-options="metaDataClasses for metaDataClasses in metaDataClasses" style="color:black; opacity:0.6;width:50%;"></select>-->
			            <div class="btn-group" >
						  <button type="button" ng-click="populateMetaData()" class="btn btn-default dropdown-toggle" style="height: 32px;line-height: 0px;background-color: bisque;opacity: 0.6;color: black;padding: 0px 197px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Available Sections <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" style="width: 534px;text-align: center; max-height: 45vh; overflow: scroll">
						    <li ng-repeat="metaDataSections in metaDataSections"><a>{{metaDataSections}}</a></li>
						  </ul>
						</div>
			        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="newSection" style="opacity:0.6; width:30%; height: 32px;" placeholder="Add Section (A,B,C etc)"/>
			        	&nbsp;&nbsp;&nbsp; <button class="btn" ng-click="addNewSectionToMetaData(newSection)" style="height:32px; line-height: 0px; padding: 0 31px;">Add Section</button>
						<!-- Single button -->
						
			        </div>
			        
			        <div class="form-group" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Subjects :
			            <br/><!--  <select ng-model="temp" ng-options="metaDataClasses for metaDataClasses in metaDataClasses" style="color:black; opacity:0.6;width:50%;"></select>-->
			            <div class="btn-group" >
						  <button type="button" ng-click="populateMetaData()" class="btn btn-default dropdown-toggle" style="height: 32px;line-height: 0px;background-color: bisque;opacity: 0.6;color: black;padding: 0px 197px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Available Subjects <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" style="width: 534px;text-align: center; max-height: 38vh; overflow: scroll">
						    <li ng-repeat="metaDataSubjects in metaDataSubjects"><a>{{metaDataSubjects}}</a></li>
						  </ul>
						</div>
			        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="newSubject" style="opacity:0.6; width:30%; height: 32px;" placeholder="Add Subjects (Maths,Science etc)"/>
			        	&nbsp;&nbsp;&nbsp; <button class="btn" ng-click="addNewSubjectToMetaData(newSubject)" style="height:32px; line-height: 0px; padding: 0 31px;">Add Subject</button>
						<!-- Single button -->
						
			        </div>
			        
			        <div class="form-group" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Tests Or Exams :
			            <br/><!--  <select ng-model="temp" ng-options="metaDataClasses for metaDataClasses in metaDataClasses" style="color:black; opacity:0.6;width:50%;"></select>-->
			            <div class="btn-group" >
						  <button type="button" ng-click="populateMetaData()" class="btn btn-default dropdown-toggle" style="height: 32px;line-height: 0px;background-color: bisque;opacity: 0.6;color: black;padding: 0px 181px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Available Tests/Exams <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" style="width: 534px;text-align: center; max-height: 30vh; overflow: scroll">
						    <li ng-repeat="metaDataTestOrExams in metaDataTestOrExams"><a>{{metaDataTestOrExams}}</a></li>
						  </ul>
						</div>
			        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="newTestOrExam" style="opacity:0.6; width:30%; height: 32px;" placeholder="Add Test/Exam (Test1,Mid-term Exam etc)"/>
			        	&nbsp;&nbsp;&nbsp; <button class="btn" ng-click="addNewTestOrExamToMetaData(testOrExam)" style="height:32px; line-height: 0px;">Add Test/Exam</button>
						<!-- Single button -->
						
			        </div>
			        
			        
			        		
		
		
					
		</div><!-- End About Inner -->
		
		
		
		
		
		
		
		
	</section><!-- End Fun Acts Section -->
    
    <!-- About -->
	<section id="newAdmission" style="height:100vh" class="container waypoint" ng-controller="adminNewRegistration">
	
	<div style="    width: 100%;
    height: auto;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    text-align: center;">
	<h4 class="header light  fancy"><span class="colored">Registration Form</span></h4>
                <!-- <p class="h-desc white">lorem Ipsum is lorem Ipsum of passages of Lorem Ipsum available, but the majority have suffered alteration.<br />
                Email us or give us a call at <span class="bold colored">+1 (800) 245-123.</span></p> -->
	<!-- Form -->
				<form id="contact-us" method="post" action="#">
					<!-- Left Inputs -->
					<div class="col-xs-6 animated" data-animation="fadeInLeft" data-animation-delay="300">
					
					<div class="form-group" style="opacity:0.6">
			            <label class="sr-only">First Name</label>
			            <input ng-model="student.firstName" type="text" style="font-weight:500; height:4.95vh" placeholder="First Name" class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6">
			            <label class="sr-only">Middle Name</label>
			            <input ng-model="student.middleName" type="text" style="font-weight:500; height:4.95vh" placeholder="Middle Name." class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Last Name</label>
			            <input ng-model="student.lastName" type="text" style="font-weight:500; height:4.95vh" placeholder="Last Name..." class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Date of Birth (DD/MM/YYYY)</label>
			            <input ng-model="student.dateOfBirth" type="text" style="font-weight:500; height:4.95vh" name="form-username" placeholder="Date of Birth (DD/MM/YYYY)" class="form-username form-control">
			        </div>
			        <div class="form-group" style="font-weight:500; color:white; text-align:left">
			            Male :
			            <input  style="opacity:0.6;" ng-model="student.male" type="checkbox" ng-click="maleClicked(student.male)">
			            Female : 
			            <input  style="opacity:0.6;" ng-model="student.female" type="checkbox" ng-click="femaleClicked(student.female)">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Father's Name</label>
			            <input ng-model="student.fatherName" type="text" style="font-weight:500; height:4.95vh" placeholder="Father's Name" class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Mother's Name</label>
			            <input ng-model="student.motherName" type="text" style="font-weight:500; height:4.95vh" placeholder="Mother's Name" class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Phone Number</label>
			            <input ng-model="student.phoneNumber" type="text" style="font-weight:500; height:4.95vh" placeholder="Phone Number" class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Alternate Phone Number</label>
			            <input ng-model="student.alternatePhoneNumber" type="text" style="font-weight:500; height:4.95vh" placeholder="Alternate Phone Number" class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Email ID</label>
			            <input ng-model="student.emailID" type="text" style="font-weight:500; height:4.95vh" placeholder="Email ID" class="form-username form-control">
			        </div>
			        
			        
			                    
						
					</div><!-- End Left Inputs -->
					<!-- Right Inputs -->
					<div class="col-xs-6 animated" data-animation="fadeInRight" data-animation-delay="400">
						<!-- Message -->
						<!-- <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea> -->
						<!-- Name -->
					<div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Date of Joining (DD/MM/YYYY)</label>
			            <input ng-model="student.dateOfJoining" type="text" style="font-weight:500; height:4.95vh" placeholder="Date of Joining (DD/MM/YYYY)" class="form-username form-control">
			        </div>
			        <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Blood Group</label>
			            <input ng-model="student.bloodGroup" type="text" style="font-weight:500; height:4.95vh" placeholder="Blood Group" class="form-username form-control">
			        </div>
			         <div class="form-group" style="opacity:0.6; font-weight:500;">
			            <label class="sr-only">Roll Number</label>
			            <input ng-model="student.rollNumber" type="text" style="font-weight:500; height:4.95vh" placeholder="Roll Number (Student ID)" class="form-username form-control">
			        </div>
			        <div class="form-group" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Class :
			            <select ng-model="student.class" ng-options="eachClass.id as eachClass.label for eachClass in classes" style="color:black; opacity:0.6;width:100%;"></select>
			        </div>
			        <div class="form-group" style="font-weight:500; text-align:left; color:white">
			            <label class="sr-only"></label>
			            Section :
			            <select ng-model="student.section" ng-options="eachSection.id as eachSection.label for eachSection in sections" style="color:black; opacity:0.6;width:100%;"></select>
			        </div>
			       
						<textarea ng-model="student.address" name="address" id="address" class="form textarea"  style="height: 12.2vh; opacity:0.6" placeholder="Address"></textarea>
						<textarea ng-model="student.knownHealthIssues" name="address" id="address" class="form textarea"  style="height: 12.2vh;opacity:0.6;" placeholder="Any Known Health Issues"></textarea>
					</div><!-- End Right Inputs -->
					<!-- Bottom Submit -->
					<div class="relative fullwidth col-xs-12">
						<!-- Send Button -->
						<button id="Save" name="Save" class="form-btn semibold" ng-click="saveStudentObject(student)">Save</button> 
					</div><!-- End Bottom Submit -->
					<!-- Clear -->
					<div class="clear"></div>
				</form>
				</div>

	</section><!-- End About Section -->

	<!-- Attendance -->
	<section id="attendance" style="height:100vh">

		<div >
    
		<div style="    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;" ng-controller="attendanceController">
				
			            
			            
			            <div class="form-group" style="font-weight:500; text-align:center; color:white;">
			            <label class="sr-only"></label>
			            Year :
			            <select ng-model="selectedYear" ng-click="populateMetaData()" ng-options="years for years in years" style="color:black; opacity:1;width:10%;"></select>
			        	&nbsp;&nbsp;&nbsp; 
			        	
			        	<label class="sr-only"></label>
			            Month :
			            <select ng-model="selectedMonth" ng-click="populateMetaData()" ng-options="month.id as month.label for month in months" style="color:black; opacity:1;width:10%;"></select>
			        
			            <label class="sr-only"></label>
			            Class :
			            <select ng-model="selectedClass" ng-click="populateMetaData()" ng-options="metaDataClasses for metaDataClasses in metaDataClasses" style="color:black; opacity:1;width:10%;"></select>
			        	&nbsp;&nbsp;&nbsp; 
			        
			            <label class="sr-only"></label>
			            Section :
			            <select ng-model="selectedSection" ng-click="populateMetaData()" ng-options="metaDataSections for metaDataSections in metaDataSections" style="color:black; opacity:1;width:10%;"></select>
			        	&nbsp;&nbsp;&nbsp; 
			        	
			        	<label class="sr-only"></label>
			            Subject :
			            <select ng-model="selectedSubject" ng-click="populateMetaData()" ng-options="metaDataSubjects for metaDataSubjects in metaDataSubjects" style="color:black; opacity:1;width:10%;"></select>
			        
			        
			        
			        	&nbsp;&nbsp;&nbsp;<button class="btn" ng-click="getAttendanceData(selectedYear,selectedMonth,selectedClass,selectedSection,selectedSubject)" style="height:32px; line-height: 0px">Get Attendance Sheet</button>
			        	
						
			        </div>
			  		        
					<div ui-grid="attendanceData" ui-grid-edit ui-grid-cellNav ui-grid-resize-columns class="grid" style="height:70vh; max-width:100%;overflow-x:hidden; background-color:white;"></div>
	
	
						
						<div class="form-group" style="font-weight:500; text-align:center; color:white; padding-top: 20px;">
						
			        	<button class="btn" ng-click="saveAttendance(attendanceData)" style="height:32px; line-height: 0px; float: right; padding:0 60px; margin-right: 2vh; color">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
			        </div>
			        
			        
	</div>
		</div>

	</section><!-- End Features Section -->
    
	<!-- Marks Sheet -->
	<section id="markSheet" style="height:100vh">

		
	<div >
    
		<div style="    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;" ng-controller="markSheetController">
				
			            
			            
			            <div class="form-group" style="font-weight:500; text-align:center; color:white;">
			            <label class="sr-only"></label>
			            Year :
			            <select ng-model="selectedYear" ng-click="populateMetaData()" ng-options="years for years in years" style="color:black; opacity:1;width:10%;"></select>
			        	&nbsp;&nbsp;&nbsp; 
			        
			            <label class="sr-only"></label>
			            Class :
			            <select ng-model="selectedClass" ng-click="populateMetaData()" ng-options="metaDataClasses for metaDataClasses in metaDataClasses" style="color:black; opacity:1;width:10%;"></select>
			        	&nbsp;&nbsp;&nbsp; 
			        
			            <label class="sr-only"></label>
			            Section :
			            <select ng-model="selectedSection" ng-click="populateMetaData()" ng-options="metaDataSections for metaDataSections in metaDataSections" style="color:black; opacity:1;width:10%;"></select>
			        	&nbsp;&nbsp;&nbsp; 
			        	
			        	
			        
			        
			        <label class="sr-only"></label>
			            Test/Exam :
			            <select ng-model="selectedTestOrExam" ng-click="populateMetaData()" ng-options="metaDataTestOrExams for metaDataTestOrExams in metaDataTestOrExams" style="color:black; opacity:1;width:10%;"></select>
			        	&nbsp;&nbsp;&nbsp;<button class="btn" ng-click="getMarksData(selectedYear,selectedClass,selectedSection,selectedTestOrExam)" style="height:32px; line-height: 0px">Get Marks Sheet</button>
			        	
						
			        </div>
			  		        
					<div ui-grid="marksData" ui-grid-edit ui-grid-cellNav ui-grid-resize-columns class="grid" style="height:70vh; max-width:100%;overflow-x:hidden; background-color:white;"></div>
	
	
						
						<div class="form-group" style="font-weight:500; text-align:center; color:white; padding-top: 20px;">
						<span style="float: left; margin-left:1vh">
						Grade System:
			            <input  style="opacity:0.6;" ng-model="gradeSystemFlag" type="checkbox">
			            </span>
			            &nbsp;&nbsp;&nbsp; 
			            <label class="sr-only"></label>
			            Add Subject Column :
			            <select ng-model="selectedSubject" ng-click="populateMetaData()" ng-options="metaDataSubjects for metaDataSubjects in metaDataSubjects" style="color:black; opacity:1;width:20%;"></select>
			        	&nbsp;&nbsp;&nbsp;
			        	<span ng-show="!gradeSystemFlag">
				        	&nbsp;&nbsp;<input type="text" ng-model="passingMarks" style="opacity:0.6; width:12%; height: 32px;" placeholder="Passing Marks"/>
				        	&nbsp;&nbsp;<input type="text" ng-model="totalMarks" style="opacity:0.6; width:10%; height: 32px;" placeholder="Total Marks"/>
				        </span>
				        
			        	&nbsp;&nbsp;<button class="btn" ng-click="addSubjectToColumn(selectedSubject,passingMarks,totalMarks)" style="height:32px; line-height: 0px">Add Subject</button>
			        	&nbsp;&nbsp;
			        	<button class="btn" ng-click="saveMarks(marksData)" style="height:32px; line-height: 0px; float: right; padding:0 60px; margin-right: 2vh; color">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
			        </div>
			        
			        
	</div>
		</div>
					


	</section><!-- End Team Section -->  


	
    
	<!-- Testimonials -->
	<section id="testimonial" class="testimonials parallax2">

		<div class="inner">

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			    	<ul>
				     <li class="monial">
						<!-- Text -->
						<h1 class="condensed white">"<span class="colored">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Cras euismod vestibulum orci, mollis vulpute felis dapibus sed. Nam ullamcorper congue elit."</h1>
						<!-- Name -->
						<p class="light">John Doe</p>
					</li>
					</ul>
			    </div>
			    <div class="item">
			      <ul>
			      <li class="monial">
						<!-- Text -->
						<h1 class="condensed white"><span class="colored">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Cras euismod vestibulum orci, mollis vulputate felis dapibus sed. Nam ullamcorper congue elit."</h1>
						<!-- Name -->
						<p class="light">Jane Doe</p>
					</li>
				</ul>	
			    </div>
			    <div class="item">
			    <ul>
			      <li class="monial">
						<!-- Text -->
						<h1 class="condensed white">"<span class="colored">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Cras euismod vestibulum orci, mollis vulputate felis dapibus sed. Nam ullamcorper congue elit."</h1>
						<!-- Name -->
						<p class="light">Severe Dane</p>
					</li>
				</ul>	
			    </div>
			  </div>

			 
			</div>  

					</div><!-- End Inner Div -->

	</section><!-- End Testimonials Section -->

	<!-- Blockquote -->
	<section id="blockquote">

		<div class="inner no-padding">
			<!-- Your Text -->
			<p class="normal white blockquote fancy">This is our Client's motivation, we work with Passion! 
			<a href="#about" class="scroll"><i class="fa fa-arrow-right"></i></a></p>
		</div>

	</section><!-- End Blockquote Section -->
    
	<!-- Contact Section -->
	<section id="contact" class="container">
		<!-- Contact Inner -->
		<div class="inner contact">

			<!-- Form Area -->
			<div class="contact-form">
            
            	<h4 class="header light  fancy"><span class="colored">Contact Us </span></h4>
                <p class="h-desc white">lorem Ipsum is lorem Ipsum of passages of Lorem Ipsum available, but the majority have suffered alteration.<br />
                Email us or give us a call at <span class="bold colored">+1 (800) 245-123.</span></p>
				<!-- Form -->
				<form id="contact-us" method="post" action="#">
					<!-- Left Inputs -->
					<div class="col-xs-6 animated" data-animation="fadeInLeft" data-animation-delay="300">
						<!-- Name -->
						<input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
						<!-- Email -->
						<input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
						<!-- Subject -->
						<input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
					</div><!-- End Left Inputs -->
					<!-- Right Inputs -->
					<div class="col-xs-6 animated" data-animation="fadeInRight" data-animation-delay="400">
						<!-- Message -->
						<textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
					</div><!-- End Right Inputs -->
					<!-- Bottom Submit -->
					<div class="relative fullwidth col-xs-12">
						<!-- Send Button -->
						<button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
					</div><!-- End Bottom Submit -->
					<!-- Clear -->
					<div class="clear"></div>
				</form>

				<!-- Your Mail Message -->
				<div class="mail-message-area">
					<!-- Message -->
					<div class="alert gray-bg mail-message not-visible-message">
						<strong>Thank You !</strong> Your email has been delivered.
					</div>
				</div>

			</div><!-- End Contact Form Area -->
		</div><!-- End Inner -->
	</section><!-- End Contact Section -->



	<!-- Site Socials and Address -->
	<section id="site-socials" class="no-padding white-bg">
		<div class="site-socials inner no-padding">
			<!-- Socials -->
			<div class="socials animated" data-animation="fadeInLeft" data-animation-delay="400">
				<!-- Facebook -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-facebook"></i>
				</a>
				<!-- Twitter -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
				</a>
				<!-- Instagram -->
				<a href="#" class="social">
					<i class="fa fa-instagram"></i>
				</a>
				<!-- Linkedin -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-linkedin"></i>
				</a>
				<!-- Vimeo -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-vimeo-square"></i>
				</a>
				<!-- Youtube -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-youtube"></i>
				</a>               
				<!-- Google Plus -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-google-plus"></i>
				</a>                
			</div>
			<!-- Adress, Mail -->
			<div class="address socials animated" data-animation="fadeInRight" data-animation-delay="500">
				<!-- Phone Number, Mail -->
				<p>Phone: +1 (800) 245-1234 Email : <a href="mailto:info@Fitness.com" class="colored">info@Fitness.com</a> Address: 23 Renesa, Surma Beach, Newyork</p>
				<!-- Top Button -->
				<a href="#metaData" class="scroll top-button">
					<i class="fa fa-arrow-circle-up fa-2x"></i>
				</a>
			</div><!-- End Adress, Mail -->
		</div><!-- End Inner -->
	</section><!-- End Site Socials and Address -->



	

	<!-- JS Files -->
	
	
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/modernizr-latest.js"></script>
	<script type="text/javascript" src="js/SmoothScroll.js"></script>
	<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="js/jquery.slabtext.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="3rd_Party/bootstrap/js/dropdown.js"></script>

	<script>

  $("a.about-icon").hover(function () {
    $(this).children("i").addClass("fa-spin");
 }, function(){
 	$(this).children("i").removeClass("fa-spin");
 });
  </script>



</body>

</html>